$wrapper-padding: 10px !default;
$dashboard-margin: 50px !default;
$page-kind-title-size: 22px !default;
$page-kind-title-padding: 15px !default;

.sideMenu {
  height: 100vh;
  position: relative;
}

.wrapper {
  background-color: $color-dark;
  height: 100%;
  width: 100%;
  padding: rem($wrapper-padding);
  text-align: center;
  color: $color-light;
  position: absolute;
  top: 0;
  left: 0;
}

.account {
  text-align: center;
}

.dashboard {
  margin: rem($dashboard-margin) auto;
}

.singlePages {
  margin: rem($dashboard-margin) auto;
}

.pageKindTitle {
  font-size: rem($page-kind-title-size);
  text-transform: uppercase;
  font-weight: bold;
  padding: rem($page-kind-title-padding) 0;
  margin: 0;
}

.pagesList {
  padding: 0;
}

.pagesListItem {
  margin: rem(20) 0;
  list-style-type: none;
}

.singles-pages__page {
  text-transform: capitalize;
}