.side-menu {
  min-height: 100vh;
}

.side-menu__wrapper {
  background-color: $white;
  height: 100%;
  padding-left: 5px;
  padding-top: 15px;
}

.side-menu__account {
  text-align: center;
  & > button {
    position: fixed;
    left: 10px;
    border: none;
    background-color: $color-red;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    transition: background-color .25s ease-out, color .25s ease-out, border .25s ease-out;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: $color-red;
      border: 1px solid $color-red;
    }
  }
}

.single-pages, .side-menu__dashboard {
  position: fixed;
  left: 10px;
  top: 80px;
}

.single-pages {
  top: 150px;
  p {
    margin: 0;
  }
}

.single-pages__list {
  padding-left: 50px;
  padding-right: 5px;
  margin: 0;
}

.singles-pages__page {
  text-transform: capitalize;
}