.type-array {
  .type-object {
    background-color: $white;
  }
}

.type-object__toggle {
  padding: 5px 35px 5px 10px;
  position: relative;
  display: inline-block;
  border: 1px solid $grey;
  background-color: #eee;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
  }
}

.type-object__accordion-enter-active, .type-object__accordion-leave-active {
  transition: opacity .25s ease-out;
}

.type-object__accordion-enter, .type-object__accordion-leave-to {
  opacity: 0;
}

.icon.icon--button {
  position: absolute;
  right: 5px;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
}