.wrapper {
  border-bottom: 1px solid $color-dark;
  width: 95%;
}

.preview {
  border-bottom: 1px solid $color-dark;
  width: 100%;
  background-color: white;
  padding: rem(5) rem(10);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  padding-top: rem(5);
}