.label {
  // font-size: rem(18);
  margin-bottom: 0;
}

.preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: rem(5) 0;
}

button.previewItem {
  margin: 0 rem(10);
}