<div class="type-array type-input">
  <div :class="$style.preview">
    <tool-tip :message="field.tipMessage" />
    <label :for="field.name" class="type-input__label" :class="$style.label">{{field.label}}</label>
    <add-btn
      v-for="(block, index) in blocksToUse"
      size="sm"
      :key="index"
      :label="block.label"
      :class="$style.previewItem"
      @click="addBlock(block.typeName)"
    />
  </div>
  <draggable v-model='myList'>
    <div
      class="type-array__item"
      v-for="(blocksContent, blocksIndex) in filteredContents"
    >
      <type-object
        class="field"
        :field="blockField(blocksContent, blocksIndex)"
        :contents="blocksContent"
        :parents="[...parents, field ]"
        :blocks="blocks"
        @input-change="onInputChange"
        :key="blocksIndex"
      >
        <remove-btn
          slot="removeBtn"
          type="button"
          size="sm"
          :label="$t('remove')"
          @click.stop="removeBlock(blocksIndex)"
        />
      </type-object>
    </div>
  </draggable>
  </div>