<div class="row">
  <div class="col-xs-12">
    <div class="edit">
      <notification
        v-if="showNotification"
        :type="notificationType"
        :message="message"
      />
      <form ref="form" v-if="contentsReady">
        <div
          v-for="(card, index) in structure.cards"
          v-if="!card.readOnly"
          :class="$style.fieldsGroup"
        >
          <edit-row
            :card="card"
            :contents="contents"
            :blocks="blocks"
            :index="index"
            @input-change="onInputChange"
            @add-item="onAddItem"
            @remove-item="onRemoveItem"
          />
        </div>
      </form>
      <confirm-btn
        v-if="requestDone"
        :label="$t('submit')"
        @click="_submit"
      />
      <p v-if="!requestDone">{{$t('updating')}} ...</p>
    </div>
  </div>
</div>