.btn {
  position: relative;
  margin: 0;
  padding: 0;
  transition: all .25s ease-out;
  &:hover {
    cursor: pointer;
  }
}

.label {
  display: block;
  color: currentColor;
  text-transform: uppercase;
  padding: rem(10) rem(25);
  font-weight: bold;
  font-size: font-size(md);
  position: relative;
  transition: transform .25s ease-out;
}