@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');

/************    COLORS    ************/
$green: #1B998B;
$red: #E94F37;
$dark-blue: #122C34;
$white: #EDF4ED;
$grey: #5D737E;

/************     COLORS PROXIES    ************/
$link-color: $red;


/************     Z-INDEXES    ************/
$z-index__side-menu: 100;

/************     FONTS    ************/

html, body {
  font-family: 'Catamaran', sans-serif;
}