
.type-input {
  position: relative;
  display: block;
  margin-bottom: rem(15);
}

.type-input__label {
  text-transform: capitalize;
  font-weight: bold;
  font-size: rem(14);
  display: block;
  margin-bottom: rem(5);
  padding-left: 5px;
}

.type-input__input, .type-input__description {
  display: block;
  margin: 0;
  margin-left: rem(10);
  border: 1px solid $color-grey;
  width: 90%;
  min-height: 30px;
  font-size: 14px;
  color: $color-dark;
  padding: 5px 10px;
}

.type-input__description {
  min-height: 80px;
  border: 1px solid $color-grey;
}