<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="_card">
    <div class="_card__title">
      <p>{{ title }}</p>
    </div>
    <ul class="_card__field-list">
      <li
        v-for="(field, index) in fieldsInfos"
        class="_card__field"
        :key="index"
      >
        <span class="_card__field-label">{{field.label}}</span>
        <p class="_card__field-value">{{field.value}}</p>
      </li>
    </ul>
    <router-link :to="`/single-pages/${name}`" class="_card__link">Modifica</router-link>
  </div>
</div>