._card {
  border: 1px solid $color-dark;
  position: relative;
  margin: 15px;
}

._card__title {
  text-align: center;
  padding: 10px 5px;
  width: 100%;
  background-color: $color-dark;
  p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0;
  }
}

._card__field-list {
  margin: 0 30px;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}

._card__field {
  padding: 10px 0;
  & > .base-card-field-simple {
    padding: 0;
    border-bottom: 1px solid $color-dark;
    & > .base-card-field-simple__label {
      font-weight: bold;
    }
  }
}

._card__field-label {
  text-transform: capitalize;
  font-weight: bold;
}

._card__field-value {
  margin: 0;
  padding-left: 10px;
}

._card__link-wrapper {
  position: relative;
  height: 40px;
}

._card__link {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: $color-green;
  color: white;
}