$form-margin: 20px !default;
$form-padding: 5px !default;
$error-size: md;
$errors-margin: 30px !default;
$errors-title-margin: 15px !default;

.login {
  display: flex;
  height: 100vh;
  align-items: center;
}

.title, .form {
  text-align: center;
}

.title {
  color: $color-light;
  font-size: font-size(xxl);
}

.formWrapper {
  width: 100%;
  background-color: $color-dark;
  margin: rem($form-margin);
  padding: rem($form-padding) 0;
}

.errors {
  width: 90%;
  margin: rem($errors-margin) auto;
  text-align: center;
}

.errorsTitle {
  color: $color-light;
  font-size: font-size(lg);
  margin: rem($errors-title-margin) auto;
}

.errorsList {
  text-align: left;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.error {
  color: $color-red;
  font-size: font-size($error-size);
}

.fieldWrapper {
  text-align: center;
  margin: 100px 0;
  & > label {
    display: block;
    margin: 15px 0;
    text-transform: uppercase;
    color: $color-light;
    font-weight: bold;
  }
  & > input {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    font-size: 18px;
    padding: 5px 20px;
    border: none;
    border-bottom: 3px solid $color-dark;
    text-align: center;
    color: $color-dark;
  }
}