<div class="type-input">
  <tool-tip :message="field.tipMessage" />
  <bread-crumbs :field="field" :parents="parents" />
  <div class="type-image__preview">
    <p class="type-image__errors" v-if="errorUploading">{{$t('uploadError')}}</p>
    <img
      v-if="image"
      :src="image"
      class="type-image__image"
    />
    <div class="type-image__actions">
      <label :for="generateInputId" class="type-image__label type-image__button">{{uploadLabel}}</label>
      <input
        :id="generateInputId"
        type="file"
        v-validate="field.validation || ''"
        @change="onFileUpload"
        class="type-image__input"
      />
      <button
        v-if="image"
        type="button"
        class="type-image__remove type-image__button"
        @click="onRemove"
      >{{$t('delete')}}</button>
    </div>
  </div>
</div>