.preview {
  display: flex;
  justify-content: left;
  align-items: center;
}

.actions {
  margin: 10px 25px;
}


.input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.imageLabel {
  display: inline-block;
  background-color: $color-green;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: rem(10) rem(20);
  font-size: font-size(sm);
  border: 2px solid white;
  transition: all .25s ease-out;
  &:hover {
    cursor: pointer;
    color: $color-green;
    background-color: white;
    border: 2px solid $color-green;
  }
}

.image {
  max-height: 200px;
}

.removeBtn {
  display: block;
  margin: rem(20) 0;
}